<meta name="viewport" content="width=device-width, initial-scale=1">
.parallax{
/* The image used */
  background-image: url("images/apocalypse.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax2{
  /* The image used */
  background-image: url("images/horde.jpg")

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}